<h2>About Us</h2>
<p>John Kropka Web Services builds <span>W3C-compliant</span> Ruby on Rails Web Applications.</p>
<p class="dotline"><img src="images/blank.gif" alt="" width="1" height="1" /></p>
<p class="capstext">If you are interested in seeing some of our customer designs...</p>
<p class="dotline"><img src="images/blank.gif" alt="" width="1" height="1" /></p>
<p class="more"><a href="#">More</a></p>
<h3>Testimonials</h3>
<h4>Solutions</h4>
<ul>
  <li><span>Client One</span> </li>
  <li><span>Client Two</span> </li>
  <li><span>Client Three</span> </li>
  
  <li>Special Client</li>
</ul>
<div id="testimonial">
  <p><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>Lorem Ipsum has been the.ing essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum</p>
  <p class="moretwo"><a href="#">More</a></p>
</div>