<h2>API</h2>

<p>
  API stands for <b>A</b>pplication <b>P</b>rogramming <b>I</b>nterface. Is a mechanism that your application can
  use to allow other applications to access all or parts of the application's features.
</p>