<h2>Rails</h2>

<p class="dotline"><img src="images/blank.gif" alt="" width="1" height="1" /></p>
<p class="capstext">
  Ruby on Rails...
</p>
<p class="dotline"><img src="images/blank.gif" alt="" width="1" height="1" /></p>
<p>We build all our websites using Ruby on rails. </p>