<div id="footerPanel">
   <div id="footerbodyPanel">
     <ul>
       <li><a href="/">Home </a>| </li>
       <li><a href="/about">About us</a> | </li>
       <li><a href="/support">Support </a>| </li>
       <li><a href="/clients">Clients</a> | </li>
       <li><a href="/contact">Contact </a> </li>
     </ul><br/><br/><br/>
     <div class="fcenter">
       <div class="fleft">&copy; 2013 NUMSWeb, Inc.</div>
       <div class="fright"></div>
       <div class="fclear"></div>
     </div>
   </div>
 </div>